<span style="visibility: hidden">coffeepub-hide-header</span>
<div class="blacksmith-card {{theme}} crier" data-combat-id="{{combat.id}}" data-round="{{combat.round}}">
	<div class="card-header">
		<i class="fa-solid {{roundIconStyle}}"></i> {{message}}
	</div>
</div>
